$sp-breakpoint: 600px;
$main-color: red;

$fontSize: clamp(1rem, -0.25rem + 3.33vw, 2.25rem);
$font-size-list-item: clamp(1.875rem, 1.25rem + 1.67vw, 2.5rem);
$font-size-list-title: clamp(2.5rem, 1.875rem + 1.67vw, 3.125rem);

$hover-color: rgb(243, 241, 241);
